{% extends "layout.tmpl" %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
  <h1 class="page-header">{{ config['SITE_TITLE'] }}</h1>
{% endblock %}


{% block script %}
    <script>
      $(function() {
        window.app = new Grano.App();
        Backbone.history.start();
      });
    </script>
{% endblock %}


