<html>
  <head>
    <title>GRANO DEBUG</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
  </head>
  <body>
    <div class="container">
      {% block content %}
        - No Content -
      {% endblock %}
    </div>
  </body>
</html>



