
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Untitled{% endblock %} - Grano SNA</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">

    <!-- Le styles -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/static/css/grano.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/img/favicon.ico">
  </head>

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{{url_for('home.index')}}">Grano SNA</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Networks <b class="caret"></b></a>
                <ul class="dropdown-menu" id="network-list-elem">
                  
                </ul>
              </li>
            </ul>
          </div><!--/.nav-collapse -->
          <div class="nav-collapse">
            <ul class="nav pull-right">
              {% if current_user.is_anonymous() %}
                <li><a href="{{url_for('account.login_form')}}">Login</a></li>
                <li><a href="{{url_for('account.register_form')}}">Register</a></li>
              {% else %}
                <li><a>Hello, {{current_user.display_name}}</a></li>
                <li><a href="{{url_for('account.logout')}}">Logout</a></li>
              {% endif %}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        <div id="flash-notices"></div>

        <div id="app">
          {% block content %}
              - No Content -
          {% endblock %}
        </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <script src="/static/js/lib/jquery.min.js"></script>
    <script src="/static/js/lib/bootstrap.min.js"></script>
    <script src="/static/js/lib/underscore.min.js"></script>
    <script src="/static/js/lib/backbone.min.js"></script>
    <script src="/static/js/lib/handlebars.js"></script>

    <script type="text/x-handlebars-template" id="network-edit">
      {%raw%}
      <h1 class="page-header">{{heading}}</h1>

      <form class="form-horizontal">
        <div class="control-group">
          <label class="control-label" for="title">
            Title:
          </label>
          <div class="controls">
            <input type="text" id="title" name="title" class="input-xlarge" value="{{title}}">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="description">
            Description:
          </label>
          <div class="controls">
            <textarea type="text" id="desc" name="description" class="input-xlarge">{{description}}</textarea>
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </form>
      {%endraw%}
    </script>

    <script type="text/x-handlebars-template" id="network-list">
      {%raw%}
        {{#networks}}
          <li><a href="/#{{slug}}">{{title}}</a></li>
        {{/networks}}
        <li class="divider"></li>
        <li><a href="/#newNetwork">New network...</a></li>
      {%endraw%}
    </script>

    <script type="text/x-handlebars-template" id="network-view">
      {%raw%}
        <h1>{{title}}</h1>
        <a id="edit-network">Edit</a>
      {%endraw%}
    </script>

    <script src="/static/js/app.js"></script>

    <script>
      $(function() {
        window.app = new Grano.App();
        Backbone.history.start();
      });
    </script>
  </body>
</html>



